<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 指定该xml文件与哪个接口对应-->
<mapper namespace="com.lrx.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <collection property="pets" column="id" ofType="Pet" select="com.lrx.mapper.PetMapper.getPetByUserId"></collection>
    </resultMap>
<!--    public User getUserById(int id);-->
    <select id="getUserById" parameterType="java.lang.Integer" resultMap="UserMap">
        SELECT * FROM mybatis_user WHERE id = #{id}

    </select>
</mapper>